body {
    background-image: url('/src/images/background.jpg');
    margin: 0;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }