<p>news-list works!</p>

<div>
    <b>Source: </b> 
    <select>
        <option>all</option>
        <option>BBC</option>
        <option>Local</option>
    </select>
</div>


<app-news-item id="1" title="News 1" description="News description 1" imageUrl="nothing" date="null"></app-news-item>
<app-news-item id="2" title="News 2" description="News description 2" imageUrl="nothing" date="null"></app-news-item>
<app-news-item id="3" title="News 3" description="News description 3" imageUrl="nothing" date="null"></app-news-item>
<app-news-item id="4" title="News 4" description="News description 4" imageUrl="nothing" date="null"></app-news-item>
